<div class="page">
    <div class="page-header">Vaccine Slot Finder</div>
    <div class="page-body">
        <div class="page-body__sidebar">
            <ul class="cities-list">
                <!--Added the list of cities-->
                <!-- <li class="cities-list__item" *ngFor="let city of cities">
                    {{ city.name }}
                </li> -->
            </ul>
        </div>
        <div class="page-body__details">
            <!--Forecast will be here soon...-->
            <form class="form-horizontal m-4">
                <div class="form-group m-4">
                    <label class="control-label col-sm-2 " for="pincode">Pin Code:</label>
                    <input type="text" class="form-control" id="pincode" placeholder="Enter your local zipcode">
                </div>
                <div class="form-group m-4">
                    <label class="control-label col-sm-2" for="mno">Mobile Number:</label>
                    <input type="text" class="form-control" id="mno" placeholder="Enter 10 digit Mobile Number">
                </div>
                <!-- Default dropup button -->
                <div class="form-group m-4">
                    <label class="" for="age">Age:</label>
                    <select class="form-control d-inline" id="age">
                        <option>18+</option>
                        <option>45+</option>
                    </select>
                </div>

                <div class="form-group m-4">
                    <button type="submit" class="btn btn-primary" (click)=onSubmit()>Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>